*.class
/.cache
png/*.png
svg/*.svg
midi/*.midi
midi/*.mid
/books
/resources/*.pdf
/songs/mp3
/songs/xml-old

/inese/midi
/inese/png
/inese/svg

/rasma/midi
/rasma/png
/rasma/svg

/songs/midi
/songs/png
/songs/svg

/songs-chr/midi
/songs-chr/png
/songs-chr/svg

/songs-lt/midi
/songs-lt/png
/songs-lt/svg

/songs-other/midi
/songs-other/png
/songs-other/svg

/songs-uk/midi
/songs-uk/png
/songs-uk/svg

/vija/midi
/vija/png
/vija/svg

/bin
/build-book
/lib
/lib-ant
/lib-scala
/songs/motives
/target
/tmp

/markdown/*/*.html




